<%= form_for @message, remote: true do |form| %>
    <div class="input-line">
        <%= form.text_field :content %>
        <%= form.submit "SEND" %>

        <div id="error">Write something!</div>
    </div>
<% end %>

<div class="messages-container">
    <% @messages.each do |message| %>
        <div class="message">
            <div class="date">
                <span class="content-date"><%= message.created_at.in_time_zone("Brasilia").strftime("%d/%m/%y") %></span>
            </div>
            <div class="content">
                <%= auto_link message.content %>
            </div>
        </div>
    <% end %>
</div>

<%= javascript_pack_tag "show" %>