<%= form_with model: @message do |form| %>
    <div class="input-line">
        <%= form.text_field :content %>
        <%= form.submit "SEND" %>
        
        <div class="error">Write something!</div>
        <% flash.each do |type, msg| %>
            <div class="error"><%= msg %></div>
        <% end %>
    </div>
<% end %>

<% @messages.each do |message| %>
    <div class="message">
        <div class="date">
            <span class="content-date"><%= message.created_at.strftime("%d/%m/%y") %></span>
        </div>
        <div class="content">
            <%= message.content %>
        </div>
    </div>
<% end %>

<%= javascript_pack_tag "show" %>