<%= form_with model: @message do |form| %>
    <div>
        <%= form.text_field :content %>
    </div>

    <div>
        <%= form.submit %>
    </div>

    <% flash.each do |type, msg| %>
        <div>
            <%= msg %>
        </div>
    <% end %>
<% end %>

<% @messages.each do |message| %>
    <div class="message">
        <div class="date">
            <%= message.created_at %>
        <div>
        <div class="content">
            <%= message.content %>
        </div>
    </div>
<% end %>
