<%= form_with model: @message do |form| %>
    <div class="input-line">
        <%= form.text_field :content %>
        <%= form.submit "Send" %>
    </div>

    <% flash.each do |type, msg| %>
        <div>
            <%= msg %>
        </div>
    <% end %>
<% end %>

<% @messages.each do |message| %>
    <div class="message">
        <div class="date">
            <span class="content-date"><%= message.created_at.strftime("%d/%m/%y") %></span>
        </div>
        <div class="content">
            <%= message.content %>
        </div>
    </div>
<% end %>
